{% extends 'base.html' %}

{% block page_name %}
	<a class="navbar-brand" href="/tablet">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Transaction
	</a>
{% endblock %}

{% block content %}

<div class="container">
	<div id="transaction_products" class="half">
		<h1>Add products to the customer cart</h1>
		<input type="text" class="transaction-product-search" placeholder="Search products by name or id">
		<ul class="ovf-list">
		{% for p in products %}
			{{ render_transaction_product(p) }}
		{% endfor %}
		</ul>
		<h1>Or add a custom product</h1>
		<input id="prod-qty" class="transaction-product-input" onkeyup="removeLetters($(this))" type="text" placeholder="qty" value="1"/>
		<input type="text" id="prod-name" class="transaction-product-input" placeholder="Product name">
		<input type="text" id="prod-price" class="transaction-product-input" onkeyup="removeLetters($(this))" placeholder="Item price">
		<span id="transaction_add" class="glyphicon glyphicon-plus btn" title="Click to add custom product" onclick="addCustomProd($('#prod-name'),$('#prod-price'), $('#prod-qty'))"></span>
	</div>
	<div id="transaction_customer" class="half">
		<span class="header">
			<span class="glyphicon glyphicon-shopping-cart"></span><h1>{{customer.name}}</h1>
		</span>
		<ul class="ovf-list">
		</ul>
		<div class="transaction-total">
			<span class="transaction-total-label">Total</span>
			<span class="transaction-total-value">U$00.00</span>
			<a href="#" class="flat-btn" title="Send" onclick="send($(this));">Send</a>
		</div>
	</div>
</div>
<div class="overlay hidden"></div>
<div class="confirmation hidden">
	<h1>Invoice succesfully sent :)</h1>
	<div class="btn close" onclick="toggleConfirmation()">close</div>
</div>
{% endblock %}